@import "../../colors.css";
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width:30%;
    padding: 1em;
    position: relative;
}

.wrapper h1{
    color: #0b5563
}

.accountManagementLinks{
    display: flex;
    flex-direction: column;
    width: 21em;
}

.accountManagementLinks a{
    align-self: flex-start;
}

.accountManagementLinks a{
    color: var(--primaryTextColor);
}