.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width:30%;
    height: 12em;
    padding: 1em;
}

.wrapper h1{
    color: #0b5563
}